@charset "utf-8";
/* 全局样式定义 Powered by zoomla.cn */
*{margin:0px; padding:0px;}
body{font-size:12px; font-family:Arial, Helvetica, sans-serif; color:#333; background:url(page1/top_bg.jpg) repeat-x;}
img{border:none;}
ul,li{list-style-type:none;}
a{color:#333; text-decoration:none;}
a:hover{text-decoration:underline;}
.clear{ clear:both; }
.mgt5{ margin-top:5px;}
#top,#head,#nav,#elite,.banner,#main,#xm1,#bot_nav,#copyright{margin:auto; width:950px; clear:both;}/*全局外框*/

#top{ text-align:right; height:25px; line-height:25px; color:#FFF;}
#top a{ color:#FFF; margin-right:5px; margin-left:5px;}

#nav{ background:url(page1/nav_bg.jpg) no-repeat;height:36px; margin-top:5px; }/*导航*/
#nav a{ color:#FFF; font-size:14px; font-weight:bold;}
#nav ul { padding-left:80px;}
#nav li{ float:left; width:95px; text-align:center; line-height:36px;}
#nav li a:hover{ background:url(page1/navA_bg.gif) no-repeat;height:36px; line-height:36px; padding-top:4px; margin-top:-4px;width:95px; display:block;}

.banner{ padding-top:5px;}

#elite{ padding-top:5px;}
#eliteL{ float:left; width:295px; }/*推荐区*/
#zxbb{ background:url(page1/elit1.jpg) no-repeat; height:265px;}
#zxbb b{ display:block; height:25px; line-height:25px; padding-left:30px;}
.zxbb_C span{ display:block; height:20px; text-align:center; line-height:20px;}
.zxbb_C{ text-align:center;}
#tdStar { background:url(page1/elitL2.jpg) no-repeat; text-align:center; height:315px; line-height:20px; }
#tdStar img{padding:10px;}
#tdStar b{ display:block; text-align:left; height:35px; line-height:35px; padding-left:10px; font-size:14px;}

#eliteR{ float:right; width:650px;}/*推荐右*/
#eliteR1{ background:url(page1/elitR1.jpg) no-repeat; width:650px; height:260px;}
.eliteRt{ height:30px; background:url(page1/elitRt.jpg) no-repeat left; line-height:30px; padding-left:10px; padding-right:10px;border-bottom:1px solid #CC6600;}
.eliteRt span{ float:right;}
.eliteRt li{ float:left; width:145px; padding-left:20px; font-size:14px; }
.shover a{ color:#FFF;font-weight:bold; }
.eliteR1_c li{ background:url(page1/jian.gif) no-repeat 10px center; height:24px; line-height:24px; padding-left:25px; border-bottom:1px dashed #CCC;margin-left:10px;margin-right:20px;}
.eliteR1_c li span{ float:right; }
#eliteR2 { border:1px #CCCCCC solid; height:313px;background:url(page1/elitR2.jpg) repeat-x bottom; margin-top:5px;}
#eliteR2 p{  padding:18px; line-height:25px; }

#mainL{ float:left; width:295px;}
#mainR{ float:right; width:650px; border:1px solid #CCC; height:359px;}
.mainli{ border:1px solid #CCC; }
.mainL_t{ clear:both; height:25px;border-bottom:1px solid #CC6600; padding-top:5px;}
.mainL_t b{ float:left; width:98px; height:25px; line-height:25px; margin-left:10px; display:block; background:url(page1/mainLT_bg.gif) no-repeat; text-align:center; border-bottom:1px solid #CC6600; color:#FFF;}
.mainL_t span{ float:right; margin-right:10px;}
.mainli ul{ padding:10px;}
.mainli li{line-height:25px; background:url(page1/disc.jpg) 5px center no-repeat; padding-left:15px;}
.mainli b { color:#FFF;}
.bor2{ clear:both; border:#CC6600 1px dashed; width:620px; margin:auto;}
.mainRi{ float:left; margin-left:10px; width:300px; margin-top:5px; height:165px;}
.mainR_t{ background:url(page1/mainRT_bg.jpg) 0 28px no-repeat; height:35px; line-height:35px; }
.mainR_t span{ float:right;}
.mainRi ul{ padding:10px;}
.mainRi li{ line-height:25px;}
.dasR{ border-right:dashed #CCC 1px; padding-right:10px;}

#xm1 { height:140px; overflow:hidden; position:relative; z-index:999; border:1px solid #CCC; height:183px; margin-top:5px; }
#xm1 .cpliudong { width:920px; position:relative; margin-left:15px; z-index:998; }
#xm1 .cpliudong .scrollbg { width:840px; height:145px; position:relative; overflow:hidden; z-index:-1; }
#xm1 .cpliudong .scrollbg li { float:left; width:160px; position:relative; margin-top:10px; }
#xm1 .cpliudong .scrollbg li a { width:81px; height:130px; display:block; border:1px solid #fff; }
#xm1 .cpliudong .scrollbg li a:hover { border:1px solid #e71a0f; }
#xm1 .cpliudong .scrollbg li img { width:150px; height:115px; position:relative; top:0px; left:1px; }
#bn1 { width:31px; height:33px; text-indent:-3000em; overflow:hidden; cursor:pointer; background:url(page1/left.gif) 0 0 no-repeat; position:absolute; top:40px; left:-15px; }
#bn1.canmove { width:31px; height:33px; text-indent:-3000em; overflow:hidden; cursor:pointer; background:url(page1/left.gif) 0 0 no-repeat; position:absolute; top:40px; left:-15px; }
#bn2 { width:31px; height:33px; text-indent:-3000em; overflow:hidden; cursor:pointer; background:url(page1/right.gif) 0 0 no-repeat; position:absolute; top:40px; right:0px; }
#bn2.canmove { width:31px; height:33px; text-indent:-3000em; overflow:hidden; cursor:pointer; background:url(page1/right.gif) 0 0 no-repeat; position:absolute; top:40px; right:0px; }


#bot_nav { height:25px; line-height:25px; border-top:1px solid #CCC; margin-top:5px; }
#bot_nav a{ color:#900; }
#bot_nav ul { margin:0 auto; width:550px;}
#bot_nav li{ float:left; margin-left:10px; margin-right:10px;}
#copyright{ text-align:center; line-height:20px; padding-bottom:20px;}