{ZL.Source id="标准黄页申请信息数据源"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="标准黄页申请信息数据源" FD="pageTitle" page="0"/}</title> 
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
</head> 
<body>  
<div>
<li>|</li>
<li >    <span id="btnNoBlank">原窗口</span> </li>
<li>|</li>
 <li>   <span id="btnNewBlank">新窗口</span><span id="setOk" style="display:none;">设置成功!</span>    </li></div>
<div style="{ZL.Label id="输出黄页背景" UserID="{SField sid="标准黄页申请信息数据源" FD="UserID" page="0"/}" /}position:relative;">

{ZL.Label id="输出指定用户和栏目下div块" NodeID="1" UserID="{SField sid="标准黄页申请信息数据源" FD="UserID" page="0"/}" /}
 </div> 
<SCRIPT src="/js/openType.js" type=text/javascript></SCRIPT> 
</body>
</html>
