{ZL.Source id="图库模型数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>{SField sid="图库模型数据源标签" FD="Title" page="0"/}_{$SiteName/}_阅读文章内容</title>
<meta name="Keywords" content="{SField sid="图库模型数据源标签" FD="Tagkey" page="0"/}">
<link href="{$CssDir/}page1.css" rel="stylesheet" type="text/css" />
<SCRIPT language=javascript src="/skin/ajax.js"></SCRIPT>
<script language="javascript">
//多行滚动JS 
function chang(id){

var chi = 0;
while (chi < 13){
chi++;
eval("btnContent"+chi+".style.display='none';");
}
eval("btnContent"+id+".style.display='';");
}
</script>
<style>
#Menu{ZL.Label id="抽取父节点ID" NodeID="{SField sid="图库模型数据源标签" FD="NodeID" page="0"/}" /} a span:hover{ text-decoration:underline;}
#Menu{ZL.Label id="抽取父节点ID" NodeID="{SField sid="图库模型数据源标签" FD="NodeID" page="0"/}" /} a span{background:url({$CssDir/}Images/top_nav.gif) no-repeat 0px -42px; font-weight:bold; color:#fff; text-decoration:none;width:77px; height:38px; display:block;}
</style>
</head>
<body><div id="top">
 <A onclick="this.style.behavior='url(#default#homepage)';this.setHomePage('{$SiteURL/}');" href="#">设为首页</A> | 
 <A href="javascript:window.external.addFavorite('{$SiteURL/}','{$SiteName/}');">加入收藏</A> 
</div>
<div class="banner">
<img src="{$CssDir/}images/banner.jpg">
</div>
<div id="nav">
<ul>
<li><a href="#" target="_blank">首页</a></li>
<li><a href="#" target="_blank">新闻中心</a></li>
<li><a href="#" target="_blank">军事工作</a></li>
<li><a href="#" target="_blank">政治工作</a></li>
<li><a href="#" target="_blank">专题</a></li>
<li><a href="#" target="_blank">下载</a></li>
<li><a href="#" target="_blank">博客</a></li>
<li><a href="#" target="_blank">论坛</a></li>                                                 
</ul>
</div>  
<div id="WebAd001">
<p>您的位置：<a href="/">{$SiteName/}</a>>>{ZL.Label id="抽取父节点ID名与链接" NodeID="{SField sid="图库模型数据源标签" FD="NodeID" page="0"/}" /}>><a href="{ZL:GetNodeUrl({SField sid="图库模型数据源标签" FD="NodeID" page="0"/})/}">{ZL.Label id="输出指定ID节点名" NodeID="{SField sid="图库模型数据源标签" FD="NodeID" page="0"/}" /}</a>>>{SField sid="图库模型数据源标签" FD="Title" page="0"/}</p>
</div>

<!--内容主体开始 -->
<div id="content">
<h1 style="color:{SField sid="图库模型数据源标签" FD="Titlecolor" page="0"/}">{SField sid="图库模型数据源标签" FD="Title" page="0"/}</h1>
<h2>{SField sid="图库模型数据源标签" FD="iTitle" page="0"/}</h2>
<address>作者：{SField sid="图库模型数据源标签" FD="author" page="0"/} 来源：{SField sid="图库模型数据源标签" FD="source" page="0"/}  发布时间：{ZL:FormatDate({SField sid="图库模型数据源标签" FD="CreateTime" page="0"/},yyyy-MM-dd)/}  更新时间：{ZL:FormatDate({SField sid="图库模型数据源标签" FD="UpDateTime" page="0"/},yyyy-MM-dd)/} 点击数：<SCRIPT language=javascript src="/Common/GetHits.aspx?id={SField sid="图库模型数据源标签" FD="GeneralID"/}"></SCRIPT></address>
<div id="content_txt">
<table class="center_tdbgall" cellSpacing=0 cellPadding=0 width=90% align=center border=0>
    <tr>
      <td align=center vAlign=center align=middle width="400" height="400" style="text-align:center;"><div id='imgBox'></div>
<script language='javascript'>
var siteurl="{$UploadDir/}";
var firstpho="";
var photos="{SField sid="图库模型数据源标签" FD="PhotoUrl"/}";
var pho=photos.split("$");
var arrUrlName=new Array();
var arrUrl=new Array();
for(i=0;i<pho.length;i++)
{
   arrUrlName[i]=pho[i].split("|")[0];
   if(pho[i].split("|")[1].indexOf("http://")==-1)
   {
   arrUrl[i]=siteurl+"/"+pho[i].split("|")[1];
   }else
   {
	   arrUrl[i]= pho[i].split("|")[1];
	   }
   
   if(i==0)
   {
	   if(pho[i].split("|")[1].indexOf("http://")==-1)
	   {
      firstpho=siteurl+"/"+pho[i].split("|")[1];
	   }else
	   {
		   irstpho=pho[i].split("|")[1];
	   }
   }	
}
</script>
<script language='javascript'>
function ViewPhoto(PhotoUrl){
  var strHtml;
  var FileExt=PhotoUrl.substr(PhotoUrl.lastIndexOf('.')+1).toLowerCase();
  if(FileExt=='gif'||FileExt=='jpg'||FileExt=='png'||FileExt=='bmp'||FileExt=='jpeg'){
    strHtml="<a href='"+PhotoUrl+"' target='PhotoView'><img src='"+PhotoUrl+"' border='0' onload='if(this.width>600) this.width=600'></a>";
  }else if(FileExt=='swf'){
    strHtml="<object classid='clsid:D27CDB6E-AE6D-11cf-96B8-444553540000' width='600' height='400' codebase='http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=5,0,0,0'><param name='movie' value='"+PhotoUrl+"'><param name='quality' value='high'><embed src='"+PhotoUrl+"' pluginspage='http://www.macromedia.com/shockwave/download/index.cgi?P1_Prod_Version=ShockwaveFlash' type='application/x-shockwave-flash' width='550' height='400'></embed></object>";
  }else{
    strHtml=PhotoUrl;
  }
   document.getElementById('imgBox').innerHTML=strHtml;
	}
	
	if(firstpho=="")
	{
	ViewPhoto(arrUrl[0]);
	}else
	{
	ViewPhoto(firstpho);
	}
</script>

</td>
    </tr>

    <tr>
      <td class=Article_tdbgall align=middle>
<div id='PhotoUrlList'></div>
<script language='javascript'>
function ShowUrlList(page){
  if(arrUrl.length<=1) return '';
  var dTotalPage=arrUrl.length/5;
  var TotalPage;
  var MaxPerPage=5;
  if(arrUrl.length%MaxPerPage==0){TotalPage=Math.floor(dTotalPage);}else{TotalPage=Math.floor(dTotalPage)+1;}
  if(page<1) page=1;
  if(page>TotalPage) page=TotalPage;
  var strPage='<table><tr>';
  for(var i=(page-1)*MaxPerPage;i<arrUrl.length&&i<page*MaxPerPage;i++){
    strPage+="<td><a href='#Title' onclick=ViewPhoto('"+arrUrl[i]+"')><img src='"+arrUrl[i]+"' border='0'  width='130'></a></td>";
    if((i+1)%5==0&&i+1<page*MaxPerPage){strPage+='</tr><tr>';}
  }
  strPage+="</tr></table>";
  if(TotalPage>1){strPage+="<table><tr><td><a href='javascript:ShowUrlList(1)'>首页</a> <a href='javascript:ShowUrlList("+(page-1)+")'>上一页</a> <a href='javascript:ShowUrlList("+(page+1)+")'>下一页</a> <a href='javascript:ShowUrlList("+TotalPage+")'>尾页</a></td></tr></table>";}
  document.getElementById('PhotoUrlList').innerHTML=strPage;
}
ShowUrlList(1);
</script></td>
    </tr>
    <tr>
      <td class=main_tdbg_760>
  </td>
    </tr>
    <tr>
      <td class=main_shadow></td>
    </tr>
  </table>

</div>
<div id="content_synopsis">{SField sid="图库模型数据源标签" FD="Content" page="0"/}</div>
{ZL.Label id="点击复制网址代码"/}
<div id="content_elit">责任编辑：{SField sid="图库模型数据源标签" FD="Edit" page="0"/}</div>
</div>
<!--内容主体结束 -->
<div id="content_up">
上一篇：{ZL.Label id="上一篇文章"/} 下一篇：{ZL.Label id="下一篇文章"/}
</div>
<div id="content_other">
<div class="main_title">相关文章</div>
{ZL.Label id="输出指定节点标题_无时间属性" NodeID="{SField sid="图库模型数据源标签" FD="NodeID" page="0"/}" TitleNum="30" ShowNum="10" /}
</div>

{ZL.Label id="蓝色底部"/}

</body>
</html>