{ZL.Source id="公告数据源标签"/}
<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{SField sid="公告数据源标签" FD="Title" page="0"/}</title>
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css" />
<meta name="Keywords" content="{SField sid="公告数据源标签" FD="Tagkey" page="0"/}">
</head>
<body>
<div id="Annouce_content">
<h1>{SField sid="公告数据源标签" FD="Title" page="0"/}</h1>
<div id="Annouce_content_txt">{SField sid="公告数据源标签" FD="content" page="0"/}</div>
<span>{SField sid="公告数据源标签" FD="author" page="0"/}<br />
{ZL:FormatDate({SField sid="公告数据源标签" FD="CreateTime" page="0"/},yyyy-MM-dd)/}</span>
<div id="Annouce_close"><a href="javascript:window.close();">关闭窗口</a></div>

</div>
</body>
</html>