<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>欢迎进入_{$SiteName/}官方网站</title>
<link href="{$CssDir/}global.css" rel="stylesheet" type="text/css">
</head>
<body style=" background:none;">
<div class="guide_bg">
<div id="guide">
<div class="guide_t"><img src="{$CssDir/}images/gui_logo.jpg"></div>
<div class="guide_m">
<ul>
<li>
<div onMouseMove="show('ya')" onMouseOut="hid('ya')">
<p id="ya" style="display:none; position:absolute; width:400px; margin-top:100px; height:20px; line-height:20px; font-size:12px; background:#F2F2F2;filter:Alpha(Opacity="0",FinishOpacity="75",Style="2")"> 
创建和雅的校风——和谐雅正的氛围，和平雅正的教风，温和文雅的学风
</p>
<a href="{ZL:GetNodeLinkUrl(1)/}" title=""><img src="{$CssDir/}images/mpic1.jpg"></a>
</div>
</li>
<li>
<div onMouseMove="show('sa')" onMouseOut="hid('sa')">
<p id="sa" style="display:none; position:absolute; width:400px; margin-top:100px; height:20px; line-height:20px; font-size:12px; background:#F2F2F2;filter:Alpha(Opacity="0",FinishOpacity="75",Style="2")">
崇尚美好的人生——引领雅言，规范雅行，推行雅制，鼓励雅作，培养雅趣
</p>
<a href="{ZL:GetNodeLinkUrl(2)/}" title=""><img src="{$CssDir/}images/mpic2.jpg"></a>
</div></li>
</ul>

</div>
<div class="guide_b">{$Copyright/}</div>
</div>
</div>
<embed src="/UploadFiles/music/111.mp3" quality=high pluginspage="http://zhangmenshiting2.baidu.com/data2/music/13898981/13898981.mp3?xcode=13533e81cc4411c7e5e97799d53c3ca4&mid=0.96017566844755" type="application/x-shockwave-flash" width="1″ height="1″></embed>
<embed src="/UploadFiles/music" quality=high pluginspage="http://zhangmenshiting2.baidu.com/data2/music/13898981/13898981.mp3?xcode=13533e81cc4411c7e5e97799d53c3ca4&mid=0.96017566844755" type="application/x-shockwave-flash" width="1″ height="1″></embed>
<script>
function show(obj){ 
 document.getElementById(obj).style.display='';
}
function  hid(obj){
document.getElementById(obj).style.display='none';
}
</script>
</body>
</html>
